---
title: "Judy and Duncan"
image: ../src/images/image-1.jpg
bodyClass: bg-white
---

<x-main>
  <div class="bg-slate-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full">
          <table class="w-full">
            <tr>
              <td class="p-12 sm:py-8 sm:px-6 text-center">
                <a href="https://maizzle.com">
                  <img src="images/maizzle.png" width="70" alt="Maizzle">
                </a>
              </td>
            </tr>
            <tr>
              <td
                class="bg-top bg-no-repeat bg-cover rounded text-left"
                style="background-image: url('{{{ page.image }}}'); height: 900px;"
              >
                <x-v-fill image="{{{ page.image }}}">
                  <x-spacer class="leading-16 sm:leading-8" />

                  <x-spacer class="leading-16 sm:leading-8" />
                </x-v-fill>
              </td>
            </tr>
            <tr>
              <td class="p-0 px-6 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <td class="w-1/2 pr-4 sm:px-0 sm:pb-8 sm:w-full sm:inline-block align-top">
                      <table class="w-full">
                        <tr>
                          <td class="p-6 bg-white rounded shadow-sm">
                           <h1 class="text-black">JUDY AND DUNCAN WEDDING</h1>

                            <p class="m-0 mb-6 text-base text-slate-700">
                             Dear friends, <br>
                             We joyfully invite you to join us on our special day. Please visit our website for more information and kindly RSVP by March 1, 2025. Your presence would mean the world to us!
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                </table>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-16 sm:leading-8">&zwj;</td>
            </tr>
            <tr>
              <td class="px-12 sm:px-6 text-left">
                <h3 class="m-0 text-base font-semibold text-slate-600 uppercase">
                  From the archives
                </h3>

                <x-spacer height="24px" />

                <table class="w-full">
                  <tr>
                    <td>
                      <h4 class="m-0 mb-1 text-xl font-semibold">
                        <a
                          href="https://example.com"
                          class="text-indigo-700 hover:text-indigo-500 [text-decoration:none]"
                        >
                          Lorem velit tempor qui
                        </a>
                      </h4>

                      <p class="m-0 text-slate-500">
                        Aliquip excepteur sint voluptate Lorem nisi deserunt consequat...
                      </p>

                      <x-divider space-y="24px" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4 class="m-0 mb-1 text-xl font-semibold">
                        <a
                          href="https://example.com"
                          class="text-indigo-700 hover:text-indigo-500 [text-decoration:none]"
                        >
                          Lorem velit tempor qui
                        </a>
                      </h4>

                      <p class="m-0 text-slate-500">
                        Aliquip excepteur sint voluptate Lorem nisi deserunt consequat...
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-16 sm:leading-8">&zwj;</td>
            </tr>
            <tr>
              <td class="px-12 sm:px-6 py-4 bg-white rounded text-left shadow-sm">
                <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=anNsdjYzcWYxdHJkdDlhZHI4Ymc1MTQ4N2MganVkeWp1bmdtaW4ubGVlQG0&amp;tmsrc=judyjungmin.lee%40gmail.com">add to your google calendar</a>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12 sm:leading-8">&zwj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
