.nav-rsvp-button {
  color: #F6F0E7;
  font-family: "DMSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 96px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 60px;
  background: #6B876D;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  cursor: pointer;
  border: none;
}

.nav-rsvp-button:hover {
  background: #5a705b;
  transform: scale(0.95);
}

.nav-rsvp-button:active {
  background: #4a5d4c;
  transform: scale(0.9);
}

.main-rsvp-button {
  background-color: #768777;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  color: #F6F0E7;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.main-rsvp-button:hover {
  background-color: #5f6e60;
  transform: scale(0.95);
}

.main-rsvp-button:active {
  background-color: #4e5c50;
  transform: scale(0.9);
}
