.nav-rsvp-button {
  color: #F6F0E7;
font-family: "DMSans-Regular";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
width: 96px;
padding: 12px 16px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 60px;
background: #6B876D;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.nav-rsvp-button:hover {
background: #6B876D;
  color: #F6F0E7;
}

.nav-rsvp-button:active {
background: #6B876D;
  color: #F6F0E7;
  transform: scale(0.98);
}
.main-rsvp-button {
margin: auto;
  border-radius: 4px; 
  border: 1px solid rgb(214, 155, 67);
  color: rgb(214, 155, 67);
  padding: 8px 36px; 
  background-color: transparent;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.main-rsvp-button:hover {
  background-color: rgb(214, 155, 67);
  color: rgb(54, 41, 23);
}

.main-rsvp-button:active {
  background-color: rgb(193, 140, 60);
  color: rgb(54, 41, 23);
  transform: scale(0.98);
}