.nav-rsvp-button {
  border-radius: 4px;   
  border: 1px solid rgb(214, 155, 67);
  color: rgb(214, 155, 67);
  padding: 5px 28px;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.nav-rsvp-button:hover {
  background-color: rgb(214, 155, 67);
   color: rgb(54 41 23);
}

.nav-rsvp-button:active {
  background-color: rgb(193, 140, 60);
  color: rgb(54 41 23);
  transform: scale(0.98);
}
.main-rsvp-button {
margin: auto;
  border-radius: 4px; 
  border: 1px solid rgb(214, 155, 67);
  color: rgb(214, 155, 67);
  padding: 8px 36px; 
  background-color: transparent;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.main-rsvp-button:hover {
  background-color: rgb(214, 155, 67);
  color: rgb(54, 41, 23);
}

.main-rsvp-button:active {
  background-color: rgb(193, 140, 60);
  color: rgb(54, 41, 23);
  transform: scale(0.98);
}