@font-face {
  font-family: "plantagenet-cherokee";
  src: url("../fonts/plantagenet-cherokee.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans-Regular";
  src: url("../fonts/DMSans-Regular.ttf") format("truetype");
}
