@import "./fonts";
@import "./buttons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

div {
    margin-bottom: 0;
}

.fade-up-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up-active {
    opacity: 1;
    transform: translateY(0);
}

/* Add different delays for sequential animation */
.fade-up-element:nth-child(1) {
    transition-delay: 0.1s;
}

.fade-up-element:nth-child(2) {
    transition-delay: 0.2s;
}

.fade-up-element:nth-child(3) {
    transition-delay: 0.3s;
}

.fade-up-element:nth-child(4) {
    transition-delay: 0.4s;
}

.fade-up-element-slow {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}


.fade-up-element.fade-up-active,
.fade-up-element-slow.fade-up-active {
    opacity: 1;
    transform: translateY(0);
}