@import "./fonts";
@import "./buttons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

div {
    margin-bottom: 0;
}

p {
    transform: translateY(30px);
    opacity: 0;
}

p {
    transform: translateY(0);
    opacity: 1;
    transition-timing-function: ease;
    transition-duration: 0.8s;
    transition-delay: 0.5s;
}